@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to my VS assignment</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<head>
  <title>HTML Video embed</title>
</head>
<body>
  <p>Deftones</p>
  <br />
  <iframe width="944" height="708" src="https://www.youtube.com/embed/mLa0-sQg1YM?list=OLAK5uy_m6T-gjwoIkSVZ2jhD5_FCAIalSJs13PhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
<body>

  <p><button onclick="myMove()">Click Me</button></p>

  <style>
    #myContainer {
      width: 400px;
      height: 400px;
      position: relative;
      background: purple;
    }

    #myAnimation {
      width: 50px;
      height: 50px;
      position: absolute;
      background-color: black;
    }
  </style>
  <body>

    <p>
      <button onclick="myMove()">Click Me</button>
    </p>

    <div id="myContainer">
      <div id="myAnimation"></div>
    </div>

    <script>
var id = null;
function myMove() {
  var elem = document.getElementById("myAnimation");
  var pos = 0;
  clearInterval(id);
  id = setInterval(frame, 10);
  function frame() {
    if (pos == 350) {
      clearInterval(id);
    } else {
      pos++;
      elem.style.top = pos + 'px';
      elem.style.left = pos + 'px';
    }
  }
}
    </script>

  </body>
</body>
